@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-swal-popup {
    width: 300px !important;
    height: 230px !important;
    background-color: rgb(123, 173, 208) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    
  }